.Cart {
    border: 5px solid skyblue;
    border-radius: 5px;
    text-align: center;
    background-color: beige;
    margin: 10px 25px 0px 25px;
}

.cartButton {
    color: black;
    border-color: black;
    background-color: skyblue;
}

ul li {
    text-align: center;
}