body {
  background-color: #16a3b6;
  color: wheat;
}

.priority-container {
  /* make the child div take 100% of the width of the parent container and make it important */
  width: 100% !important;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 30% 70%);
  /* create a gap between columns */
  grid-column-gap: 3em;
  padding: 1em;
}

.birds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  position: relative;
}

.root {
  min-width: 100vw !important;
}
