img{
    width: 170px;
    height: 260px;
    border: 2px solid black;
}

/* h1{
    font-size: 10px;
    font-weight: bold;
} */



/* .birds.button {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-left: 40%;
    color: blue;
    border: 2px transparent;

} */

/* .bird_name{
    word-wrap: break-word;
} */

/* h3{
    font-size: 18px;
    font-weight: bold;
    color: blue;
} */




