
form {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    padding-top:10px;
    border: 3px solid rgb(232, 243, 251);
    border-radius: 2px;background-color: rgb(255, 255, 255);
}

label, p  {
    text-align: center;
}

input {
    margin-left: 60px;
}

button {
    margin-left: 90px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}

